ANIME_MANAGER_DATABASE_URL=sqlite:///./data/anime.db
ANIME_MANAGER_CACHE_DIR=./data/cache
ANIME_MANAGER_HOST=127.0.0.1
ANIME_MANAGER_PORT=18010
ANIME_MANAGER_FRONTEND_ORIGIN=http://127.0.0.1:5173
ANIME_MANAGER_DEMO_SCRAPERS=true
